html {
  /* color vars*/
  --main-text-color: #000000;
  --color-brown1: rgb(206, 192, 175);
  --color-brown2: rgb(183, 157, 138);
  --color-orange: rgb(250, 64, 17);
  --color-gold: rgb(172, 157, 138);
  /* fsz vars*/
  --default-text-size: 13px;

  /* structure vars*/
  --pc-contents-size: 375px;
  --sp-contents-size: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: 16px;
}

/* structure */
body {
  font-family: "Zen Kaku Gothic New", sans-serif;
  color: var(--main-text-color);
}

a {
  color: var(--main-text-color);
  font-size: var(--default-text-size);
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.loader {
  width: 100%;
  height: 100svh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  pointer-events: none;
}

.loader .bg {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  animation-name: bg-height;
  animation-delay: 2.5s;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
  background-color: var(--color-brown1);
}

.loader .bg img {
  width: 100px;
  will-change: opacity;
}

.loader .bg .orange {
  width: 100px;
  height: 100px;
  background-color: var(--color-orange);
  border-radius: 9999px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation-name: orange;
  animation-delay: 2.1s;
  animation-duration: 1s;
  transform-origin: center;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
}

.loader .bg img.white {
  animation-name: circle-white;
  animation-delay: 0.5s;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
}

.loader .bg img.black {
  animation-name: circle-black;
  animation-delay: 0.5s;
  animation-duration: 2s;
  transform-origin: center;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
}

@keyframes orange {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  30% {
    transform: translate(-50%, -50%) scale(1);
  }
  80% {
    transform: translate(-50%, -50%) scale(10);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(100);
    opacity: 0;
  }
}

@keyframes circle-black {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
    transform: translate(0, 0);
  }
  75% {
    transform: translate(50%, 0);
    opacity: 1;
  }
  90% {
  }
  100% {
    transform: translate(50%, 0);
    opacity: 0;
  }
}

@keyframes circle-white {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
    transform: translate(0, 0);
  }
  75% {
    transform: translate(-50%, 0);
    opacity: 1;
  }
  90% {
  }
  100% {
    transform: translate(-50%, 0);
    opacity: 0;
  }
}

@keyframes bg-height {
  0% {
    opacity: 1;
  }

  50% {
  }

  100% {
    opacity: 0;
  }
}

main .contents-wrapper {
  width: 550px;
  position: absolute;
  top: 0;
  right: 0;
}
main .contents-wrapper .inner {
  width: var(--pc-contents-size);
  background-color: white;
  padding: 24px;
  box-shadow: 0 0 10px 0px rgb(0 0 0 / 20%);
}

section {
  padding-bottom: 64px;
}

h2 {
  font-size: 32px;
  margin-bottom: 16px;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 24px;
  margin-bottom: 16px;
  font-weight: 400;
}

p {
  font-size: var(--default-text-size);
  line-height: 1.6;
}
p:not(:last-of-type) {
  margin-bottom: 1em;
}
/* structure */

/* header */
header {
  width: 175px;
  height: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  padding-top: 16px;
  padding-right: 16px;
  background-color: var(--color-brown2);
}

header a.logo {
  display: block;
  width: 128px;
  margin-left: auto;
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.3));
}

header nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: right;
  position: absolute;
  bottom: 56px;
  right: 16px;
}

header nav ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

header nav a {
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: text-shadow;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

header nav a:hover {
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}
/* header */

footer {
  text-align: center;
}
footer img {
  display: inline-block;
  width: 160px;
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.5));
  margin-bottom: 8px;
}

/* kv */
div.kv {
  width: 100%;
  height: 100svh;
  background-color: var(--color-brown1);
  position: fixed;
}

div.kv figure {
  width: calc(100% - 550px);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.kv figure img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* kv */
section.intro p.name {
  margin-top: 8px;
  text-align: right;
  font-size: 11px;
}

section.intro p.name span {
  display: inline-block;
  text-align: left;
}

section.intro h3 span.fr {
  font-style: italic;
  font-weight: 400;
  font-size: 75%;
  color: var(--color-gold);
}

section.intro .story {
  margin-top: 48px;
}

/* cast */
section.cast h4 {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 8px;
}

section.cast h4:not(:first-of-type) {
  margin-top: 32px;
}
/* cast */

/* staff */
section.staff dl {
  font-size: var(--default-text-size);
  line-height: 1.6;
}
section.staff dl:not(:last-of-type) {
  margin-bottom: 1em;
}
/* staff */

@media (min-width: 1024px) {
  .sm-only {
    display: none !important;
  }
}

@media (max-width: 1023px) {
  .lg-only {
    display: none !important;
  }
  div.kv figure {
    width: calc(100% - var(--pc-contents-size));
  }
  main .contents-wrapper {
    width: var(--pc-contents-size);
  }
  header {
    transform: translateX(100%);
    transition-duration: 0.2s;
    transition-property: transform;
  }

  header.open {
    transform: translateX(0);
  }

  .contents-wrapper button {
    display: block;
    width: 30px;
    height: 30px;
    position: fixed;
    right: 15px;
    top: 15px;
    cursor: pointer;
    z-index: 1000;
    outline: 0;
  }

  .contents-wrapper button:before,
  .contents-wrapper button:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--main-text-color);
    position: absolute;
    transition-duration: 0.2s;
    will-change: transform;
    transition-property: transform, background-color;
  }

  .contents-wrapper button:before {
    top: 10px;
  }
  .contents-wrapper button:after {
    bottom: 10px;
  }

  .contents-wrapper button.open:before {
    top: 50%;
    transform: rotate(30deg);
  }
  .contents-wrapper button.open:after {
    bottom: 50%;
    transform: rotate(-30deg);
  }
}

@media (max-width: 767px) {
  div.kv figure {
    width: 100%;
  }
  main .contents-wrapper {
    width: 100%;
    position: relative;
    padding-top: 100svh;
  }
  main .contents-wrapper .inner {
    width: 100%;
  }
}
